$color-white: #fff;
$color-black: #000;

$color-gh-blue: #005096;

$color-gray-00: #efefef;
$color-gray-01: #eee;
$color-gray-02: #e9eef7;
$color-gray-03: #ddd;
$color-gray-04: #ccc;
$color-gray-05: #C8CED5;
$color-gray-06: #888;
$color-gray-07: #555;
$color-gray-08: #333;
$color-gray-09: #223;
